html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
  }

  
  body {
    font-family: "Lato", sans-serif;
    display: flex;
      flex-direction: column;
      min-height: 100vh;
  }

  header {
    margin: 0;
    margin-bottom: 0;
    padding: 0;
  }

     main {
       flex: 1;
     }

  #hero {
    color: aliceblue;
    background-image: url('./images/darkbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding-bottom: 0;
    height: 500px;
    display: flex;
      justify-content: center;
      align-items: center;
    text-align: center;
    color: white;
    
  }

  .bg-black {
    background-color: black !important;
  }

  .text-secondary {
      color: #AEB0B2 !important;
    }

    
